log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1
.DS_Store
docs/data-engineering/.DS_Store
media/.DS_Store
.idea/

# Visual Studio and VS Code files
**/.vscode/*
/.vs


.github/

.squad/

# Added by Content Mentor for backward compatibility
.content-mentor/
.documentor/
.docuMentor/
.content-mentor-session.json
.documentor-session.json
.docuMentor-session.json
.documenor-session.json
.content-mentor-open-file.json
*.code-workspace
